doctype 5
html
  head
    title= "Skill Show - " + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')
    block head
  body
    block content